





<div class="row justify-content-center">
    <!-- card -->

    <div class="card m-1 mt-4"  style="width: 18rem;">
    
        <img src="./image/profile.png" class="w-50 m-auto" alt="...">
        <div class="card-body">
          <h5>Name: {{employees[random].name1 | uppercase }}</h5>
          <p>Age: {{employees[random].age1}} Years</p>
          <p>Gender: {{employees[random].gender}}</p>
          <p>Salary: {{employees[random].salary | currency:'$' }} </p>
          <p>TypeJobs: {{employees[random].TJ}}</p>
          
        </div>
    </div>

    <!-- card -->

</div>