main.ng-enter{
    transition: 0.9s linear all;
    opacity: 0;
}
main.ng-enter.ng-enter-active{
    opacity: 1;
}

input.ng-invalid.ng-touched{
    border: 2px dashed red;
}
input[disabled="disabled"]{
    opacity: 0.3;
    cursor: not-allowed;
}